/**
 * @file All CSS-Shapes CSS combined for use on index pages.
 */

/* BOILERPLATE */

.shape {
  display:block;
}

/* PRINTER SIMPLE */

.printer {
  width:80px;
  height:40px;
  background:#0088CC;
  -moz-border-radius:4px;
  border-radius:4px;
  position:relative;
  z-index:5;
  margin:50px auto 30px;
}
.printer:before {
  content:"";
  width:40px;
  height:25px;
  -moz-border-radius:6px 6px 0 0;
  border-radius:6px 6px 0 0;
  border:5px solid #0088CC;
  background:#fff;
  position:absolute;
  z-index:6;
  top:-20px;
  left:15px;
}
.printer:after {
  content:"";
  width:40px;
  height:25px;
  -moz-border-radius:0 0 6px 6px;
  border-radius:0 0 6px 6px;
  border:5px solid #FFF;
  background:#0088CC;
  position:absolute;
  z-index:6;
  top:25px;
  left:15px;
}

/* PRINTER ELABORATE */

.printer-elaborate {
  width:150px;
  height:65px;
  background:#0088CC;
  -moz-border-radius:8px;
  border-radius:8px;
  z-index:5;
  margin:50px auto 30px;
  -webkit-transform: scale(.7);
     -moz-transform: scale(.7);
      -ms-transform: scale(.7);
       -o-transform: scale(.7);
          transform: scale(.7);
}
.printer-elaborate:before {
  content:"";
  width:60px;
  height:32px;
  -moz-border-radius:6px 6px 0 0;
  border-radius:6px 6px 0 0;
  background:#0088CC;
  position:absolute;
  z-index:6;
  top:-41px;
  left:44px;
}
.printer-elaborate:after {
  content:"";
  width:60px;
  height:65px;
  -moz-border-radius:4px;
  border-radius:4px;
  border:7px solid #FFF;
  border-top-width:10px;
  background:#0088CC;
  position:absolute;
  z-index:6;
  top:18px;
  left:37px;
}
.printer-elaborate .paper-feeder {
  height:30px;
  width:10px;
  background:#0088CC;
  left:30px;
  top:-30px;
  position:absolute;
  -moz-border-radius:3px 3px 0 0;
  border-radius:3px 3px 0 0;
}
.printer-elaborate .paper-feeder:after {
  content:"";
  height:30px;
  width:10px;
  background:#0088CC;
  left:78px;
  position:absolute;
  -moz-border-radius:;
  border-radius:3px 3px 0 0
}
.printer-elaborate .paper-lines {
  width:50px;
  height:3px;
  background:#FFF;
  position:absolute;
  top:39px;
  left:49px;
  z-index:10;
}
.printer-elaborate .paper-lines:before,
.printer-elaborate .paper-lines:after {
  content:"";
  width:50px;
  height:3px;
  background:#FFF;
  position:absolute;
  top:10px;
}
.printer-elaborate .paper-lines:after {
  top:20px;
}
.printer-elaborate .paper-lines.bottom {
  width:50px;
  height:3px;
  background:#FFF;
  position:absolute;
  top:69px;
  left:49px;
  z-index:10;
}
.printer-elaborate .paper-lines.bottom:after {
  display:none;
}

.printer-elaborate .buttons {
  width:14px;
  height:14px;
  right:11px;
  background:#FFF;
  -moz-border-radius:;
  border-radius:7px;
  position:absolute;
}
.printer-elaborate .buttons:after {
  content:"";
  width:8px;
  height:8px;
  right:3px;
  top:3px;
  background:#0088CC;
  -moz-border-radius:;
  border-radius:4px;
  position:absolute;
}
.printer-elaborate .buttons.top {
  top:8px;
}
.printer-elaborate .buttons.bottom {
  top:24px;
}


/* SECURE LOCK */

.lock {
  width:150px;
  height:120px;
  background:#0088CC;
  -moz-border-radius:8px;
  border-radius:8px;
  z-index:5;
  margin: 0 auto;
  -webkit-transform: scale(.5);
     -moz-transform: scale(.5);
      -ms-transform: scale(.5);
       -o-transform: scale(.5);
          transform: scale(.5);
}
.lock:before {
  content: "";
  width: 90px;
  height: 45px;
  -moz-border-radius: 65px 65px 0 0;
  border-radius: 65px 65px 0 0;
  border: 18px solid #0088CC;
  border-bottom: none;
  position: absolute;
  z-index: 6;
  top: -60px;
  left: 12px;
}
.lock .keyhole {
  height: 36px;
  width: 36px;
  background: #FFF;
  left: 57px;
  top: 25px;
  position: absolute;
  -moz-border-radius: 18px;
  border-radius: 18px;
}
.lock .keyhole:before{
  content: "";
  border-bottom: 32px solid #FFF;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  width: 16px;
  position: absolute;
  left: 0px;
  top:32px;
}


/* PENCIL */

.pencil-wrapper {
  margin:-50px auto -40px;
  z-index:5;
  -webkit-transform: rotate(40deg) scale(.45);
     -moz-transform: rotate(40deg) scale(.45);
      -ms-transform: rotate(40deg) scale(.45);
       -o-transform: rotate(40deg) scale(.45);
          transform: rotate(40deg) scale(.45);
}
.pencil-body {
  width:50px;
  height:150px;
  background:#0088CC;
  -moz-border-radius:2px 2px 2px 2px/ 2px 2px 8px 8px;
  border-radius:2px 2px 2px 2px/ 2px 2px 8px 8px;
  margin: 0 auto;
  position: relative;
}
.pencil-body:before {
  content: "";
  width: 50px;
  height: 30px;
  -moz-border-radius:25px 25px 2px 2px;
  border-radius:25px 25px 2px 2px;
  position: absolute;
  z-index: 6;
  top: -35px;
  left: 0;
  background: #0088CC;
}
.pencil-tip {
  width: 0;
  height: 0;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-top: 70px solid #0088CC;
  position: relative;
  margin: -1px auto 0;
}
.pencil-tip:before {
  content: "";
  width:8px;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 34px solid #FFF;
  position: absolute;
  left: -15px;
  top: -67px;
  -moz-border-radius:1px;
  border-radius:1px;
}
.pencil-tip:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 3px solid #0088CC;
  position: absolute;
  left: -13px;
  top: -67px;
}

/* RSS */

.rss-wrapper {
  margin:-85px auto -40px;
  position:relative;
  z-index:5;
  -webkit-transform: scale(.3);
     -moz-transform: scale(.3);
      -ms-transform: scale(.3);
       -o-transform: scale(.3);
          transform: scale(.3);
}
.rss-body {
  width:250px;
  height:250px;
  background:#0088CC;
  -moz-border-radius:32px;
  border-radius:32px;
  margin: 0 auto;
  position:relative;
}
.rss-broadcast {
  width:54px;
  height:54px;
  -moz-border-radius:30px;
  border-radius:30px;
  background:#FFF;
  position:absolute;
  left:32px;
  bottom:32px;
}
.rss-broadcast:before {
  content: "";
  width:302px;
  height:302px;
  background:transparent;
  -moz-border-radius:190px;
  border-radius:190px;
  border: 36px solid #FFF;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  position:absolute;
  left: -187px;
  bottom: -187px;
  -webkit-transform:rotate(-45deg);
     -moz-transform:rotate(-45deg);
      -ms-transform:rotate(-45deg);
       -o-transform:rotate(-45deg);
          transform:rotate(-45deg);
}
.rss-broadcast:after {
  content: "";
  width:180px;
  height:180px;
  background:transparent;
  -moz-border-radius:125px;
  border-radius:125px;
  border: 36px solid #FFF;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  position:absolute;
  bottom: -126px;
  left: -126px;
  -webkit-transform:rotate(-45deg);
     -moz-transform:rotate(-45deg);
      -ms-transform:rotate(-45deg);
       -o-transform:rotate(-45deg);
          transform:rotate(-45deg);
}

/* EMAIL */

.email-wrapper {
  margin:-40px auto 0;
  top: 50%;
  position:relative;
  z-index:5;
}
.email-body {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 75px solid #0088CC;
  margin: 0 auto;
  position:relative;
}
.email-body:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 157px solid #0088cc;
  border-top: 118px solid transparent;
  position: absolute;
  left: -100px;
  top: -61px;
}
.email-body:after {
  content: "";
  width: 0;
  height: 0;
  border-right: 157px solid #0088cc;
  border-top: 118px solid transparent;
  position: absolute;
  left: -57px;
  top: -61px;
}


/* BADGE RIBBON */

.badge-ribbon-wrapper {
  z-index: 5;
  position: relative;
  margin:0px auto 85px;
  width: 98px;
  -webkit-transform: scale(.9);
     -moz-transform: scale(.9);
      -ms-transform: scale(.9);
       -o-transform: scale(.9);
          transform: scale(.9);
}
.badge-ribbon-wrapper .outer-ribbon {
  position: relative;
  background: #1F5C99;
  height: 90px;
  width: 90px;
  -moz-border-radius:    45px;
  -webkit-border-radius: 45px;
  border-radius:         45px;
  z-index:5;
}
.badge-ribbon-wrapper .outer-ribbon:before,
.badge-ribbon-wrapper .outer-ribbon:after {
  content: '';
  position: absolute;
  border-bottom: 70px solid #1F5C99;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  top: 70px;
  left: -10px;
  -webkit-transform: rotate(-140deg);
  -moz-transform:    rotate(-140deg);
  -ms-transform:     rotate(-140deg);
  -o-transform:      rotate(-140deg);
}
.badge-ribbon-wrapper .outer-ribbon:after {
  left: auto;
  right: -10px;
  -webkit-transform: rotate(140deg);
  -moz-transform:    rotate(140deg);
  -ms-transform:     rotate(140deg);
  -o-transform:      rotate(140deg);
}
.badge-ribbon-wrapper .burst {
  background: #1F5C99;
  width: 75px;
  height: 75px;
  position: relative;
  text-align: center;
  margin-top:-81px;
  margin-left:7px;
  display:;
  z-index:1;
}
.badge-ribbon-wrapper .burst.shadow {
  -webkit-box-shadow: 0 0px 7px #666;
  -moz-box-shadow: 0 0px 7px #666;
  box-shadow: 0 0px 7px #666;
}
.badge-ribbon-wrapper .burst.cover {
  margin-top:-75px;
}
.badge-ribbon-wrapper .burst:before,
.badge-ribbon-wrapper .burst:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 75px;
  width: 75px;
  background: #1F5C99;
}
.badge-ribbon-wrapper .burst.shadow:before,
.badge-ribbon-wrapper .burst.shadow:after {
  -webkit-box-shadow: 0 0px 7px #666;
  -moz-box-shadow: 0 0px 7px #666;
  box-shadow: 0 0px 7px #666;
}
.badge-ribbon-wrapper .burst:before {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}
.badge-ribbon-wrapper .burst:after {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
}
.badge-ribbon-wrapper .burst.burst-second {
  -webkit-transform: rotate(15deg);
  -moz-transform:    rotate(15deg);
  -ms-transform:     rotate(15deg);
  -o-transform:      rotate(15deg);
  background:;
  margin-top:-75px
}
.badge-ribbon-wrapper .inner-ribbon {
  margin-top:-78px;
  margin-left:5px;
  position: relative;
  background: #0088CC;
  height: 80px;
  width: 80px;
  -moz-border-radius:    40px;
  -webkit-border-radius: 40px;
  border-radius:         40px;
  z-index:15;
}
.badge-ribbon-wrapper .inner-ribbon:before,
.badge-ribbon-wrapper .inner-ribbon:after {
  content: '';
  position: absolute;
  border-bottom: 45px solid #0088CC;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  top: 70px;
  left: 4px;
  -webkit-transform: rotate(-140deg);
  -moz-transform:    rotate(-140deg);
  -ms-transform:     rotate(-140deg);
  -o-transform:      rotate(-140deg);
}
.badge-ribbon-wrapper .inner-ribbon:after {
  left: auto;
  right: 4px;
  -webkit-transform: rotate(140deg);
  -moz-transform:    rotate(140deg);
  -ms-transform:     rotate(140deg);
  -o-transform:      rotate(140deg);
}
.badge-ribbon-wrapper .ribbon-message {
  position:relative;
  z-index:25;
  text-align:center;
  margin-top: -61px;
  margin-left:8px;
  font-size:19px;
  line-height:18px;
  color:#FFF;
  font-weight:bold;
  font-family: 'pt serif', serif;
  width:75%;
}
.badge-ribbon-wrapper .ribbon-message::first-letter {
  font-size:36px;
}
.badge-ribbon-wrapper .ribbon-message span.st {
  display:inline-block;
  top: -13px;
  left:-3px;
  position:relative;
}
.badge-ribbon-wrapper .ribbon-message span.upper {
  text-transform:uppercase;
  font-size: 85%;
}


/* INFINITY SQUISHED */


#infinity-wrapper {
  -webkit-transform: scaleY(.09) scalex(.6);
     -moz-transform: scaleY(.09) scalex(.6);
      -ms-transform: scaleY(.09) scalex(.6);
       -o-transform: scaleY(.09) scalex(.6);
          transform: scaleY(.09) scalex(.6);
  margin:-10px auto 0 35px;
  position:relative;
}
#infinity {
    position: relative;
    width: 400px;
    height: 50px;
}

#infinity:before,
#infinity:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 115px;
    height: 115px;
    border: 35px solid #0088CC;
    -moz-border-radius: 200px 200px 0 200px;
         border-radius: 200px 200px 0 200px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

#infinity:after {
    left: auto;
    right: 0;
    -moz-border-radius: 200px 200px 200px 0;
         border-radius: 200px 200px 200px 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}


